<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>Adobe Reader 9</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0.21</string>
	<key>IFMajorVersion</key>
	<integer>2</integer>
	<key>IFMinorVersion</key>
	<integer>0</integer>
	<key>IFPkgFlagAllowBackRev</key>
	<false/>
	<key>IFPkgFlagAuthorizationAction</key>
	<string>RootAuthorization</string>
	<key>IFPkgFlagDefaultLocation</key>
	<string>/Users/Shared</string>
	<key>IFPkgFlagFollowLinks</key>
	<true/>
	<key>IFPkgFlagInstallFat</key>
	<false/>
	<key>IFPkgFlagInstalledSize</key>
	<integer>281842</integer>
	<key>IFPkgFlagIsRequired</key>
	<false/>
	<key>IFPkgFlagOverwritePermissions</key>
	<false/>
	<key>IFPkgFlagRelocatable</key>
	<false/>
	<key>IFPkgFlagRestartAction</key>
	<string>None</string>
	<key>IFPkgFlagRootVolumeOnly</key>
	<true/>
	<key>IFPkgFlagUpdateInstalledLanguages</key>
	<false/>
	<key>IFPkgFormatVersion</key>
	<real>0.10000000000000001</real>
	<key>IFRequirementDicts</key>
	<array>
		<dict>
			<key>Level</key>
			<string>requires</string>
			<key>SpecArgument</key>
			<string>hw.machine</string>
			<key>SpecType</key>
			<string>sysctl</string>
			<key>TestObject</key>
			<string>i386</string>
			<key>TestOperator</key>
			<string>ne</string>
		</dict>
		<dict>
			<key>Level</key>
			<string>requires</string>
			<key>SpecArgument</key>
			<string>sysv</string>
			<key>SpecType</key>
			<string>gestalt</string>
			<key>TestObject</key>
			<string>4163</string>
			<key>TestOperator</key>
			<string>ge</string>
		</dict>
	</array>
</dict>
</plist>
